<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3> Ana Sayago</h3>
    <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAOYAAAAJGYxYWZlY2IwLTU3OTEtNGEyMC04ZDIxLTljNmM5YzMyZjE2Mg.jpg" alt="fotografia"  height="120" width="120">
<p>Ing. en Informatica. </p>
<p>Venezuela </p>
  </body>
</html>

